In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus = pd.read_csv(r'C:/Users/ASUS/Desktop/stage pfe/model output/general_cat_pred_svm.csv')
corpus

                                          Keyword     prediction
0                        accessoires auto tunisie      générique
1                      accessoire voiture tunisie      générique
2     maison volkswagen tunisie pièce de rechange  non générique
3                              enjoliveur tunisie      générique
4                 accessoire voiture tunisie prix      générique
...                                           ...            ...
5751                    location utilitaire tunis      générique
5752                  circuit 4x4 tunisie marmara      générique
5753                       excursion 4x4 hammamet      générique
5754                          raid 4x4 en tunisie      générique
5755                           voyage tunisie 4x4      générique

[5756 rows x 2 columns]

In [3]:
df = pd.DataFrame()
# Filter rows where 'prediction' equals 'non générique'
filtered_rows = corpus[corpus["prediction"] == "non générique"]

# Concatenate the filtered rows to df
df = pd.concat([df, filtered_rows], ignore_index=True)

In [4]:
df

                                          Keyword     prediction
0     maison volkswagen tunisie pièce de rechange  non générique
1          prix pièce de rechange kia rio tunisie  non générique
2                 accessoires isuzu d max tunisie  non générique
3            pièce de rechange volkswagen tunisie  non générique
4               pièce de rechange volkswagen sfax  non générique
...                                           ...            ...
3207                          c3 aircross tunisie  non générique
3208                 prix peugeot 2008 en tunisie  non générique
3209                  citroen c3 aircross tunisie  non générique
3210               prix hyundai tucson en tunisie  non générique
3211                    peugeot 3008 tunisie prix  non générique

[3212 rows x 2 columns]

In [5]:
df.shape

(3212, 2)

**DATA PREPARATION**

**STEP 1: labeling**

importing a dataset from Kaggle to use it in the labelisation step

In [6]:
labelDf = pd.read_excel(r"C:/Users/ASUS/Desktop/stage pfe/CarDB.xlsx", sheet_name = "CarModels")

In [7]:
labelDf

,ID,BRAND,MODEL,YEAR_,FUEL,SHIFTTYPE,MOTORVOLUME,CASETYPE,VARIANT
0,1,Audi,100,1993,Gasoline/LPG,Automatic transmission,1301-1600 cc,Sedan,2.0
1,2,Audi,100,2006,Gasoline/LPG,Automatic transmission,2001-2500 cc,Sedan,2.0
2,3,Audi,80,1982,Diesel,Manual Gear,-,Sedan,Audi 80 Series 1.6 D
3,4,Audi,80,1991,Diesel,Manual Gear,1301-1600 cc,Sedan,Audi 80 Series 1.6 D
4,5,Audi,A1,2011,Gasoline,Semi-Automatic Gear,1301-1600 cc,Hatchback 3 Doors,Audi A1 1.4 TFSI Ambition
...,...,...,...,...,...,...,...,...,...
6918,6919,Volvo,XC90,2015,Diesel,Semi-Automatic Gear,1801-2000 cc,Off Road,Volvo XC90 2.0 D5 Inscription
6919,6920,Volvo,XC90,2017,Diesel,Automatic transmission,1801-2000 cc,Off Road,Volvo XC90 2.0 D5 Inscription
6920,6921,Volvo,XC90,2018,Diesel,Automatic transmission,1801-2000 cc,Off Road,Volvo XC90 2.0 D5 Inscription
6921,6922,Volvo,XC90,2019,Diesel,Automatic transmission,1801-2000 cc,Off Road,Volvo XC90 2.0 D5 Inscription
6922,6923,Volvo,XC90,2019,Diesel,Automatic transmission,1801-2000 cc,Off Road,Volvo XC90 Other

In [9]:
model_Brand_Df = pd.DataFrame()
model_Brand_Df["brand"] = labelDf["BRAND"]
model_Brand_Df["model"] = labelDf["BRAND"]+ " "+ labelDf["MODEL"]

In [19]:
model_Brand_Df

      brand       model
0      Audi    Audi 100
1      Audi    Audi 100
2      Audi     Audi 80
3      Audi     Audi 80
4      Audi     Audi A1
...     ...         ...
6918  Volvo  Volvo XC90
6919  Volvo  Volvo XC90
6920  Volvo  Volvo XC90
6921  Volvo  Volvo XC90
6922  Volvo  Volvo XC90

[6923 rows x 2 columns]